<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Select a Restaurant</h4>
                        <p class="card-category">View local farm contracts for a specific restaurant</p>
                    </div>
                    <div class="card-body">
                        <mat-form-field>
                            <mat-select [(value)]="selectedRestaurantIndex" placeholder="Select...">
                                <mat-option value="0">The View</mat-option>
                                <mat-option value="1">Catch NYC</mat-option>
                                <mat-option value="2">Orso</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-12" *ngIf="selectedRestaurantIndex > -1">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <h4 class="nav-tabs-title">{{restaurants[selectedRestaurantIndex].name}}:</h4>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                                            <i class="material-icons">assignment</i> Contracts
                                                            <div class="ripple-container"></div>
                                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#profile" data-toggle="tab">
                                                    <i class="material-icons">fastfood</i> Food Menu
                                                    <div class="ripple-container"></div>
                                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                                    <i class="material-icons">code</i> Website
                                                    <div class="ripple-container"></div>
                                                </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                                    <i class="material-icons">star</i> Reviews (4.3/5)
                                                    <div class="ripple-container"></div>
                                                </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Compliance
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        County
                                    </th>
                                    <th>
                                        State
                                    </th>
                                    <th>
                                        ID
                                    </th>
                                </thead>
                                <tbody>
                                    <ng-container *ngFor="let r of restaurants[selectedRestaurantIndex].farms">
                                        <tr>
                                            <td class="text-primary">
                                                {{r.compliance}}
                                            </td>
                                            <td>
                                                {{r.name}}
                                            </td>
                                            <td>
                                                {{r.county}}
                                            </td>
                                            <td>
                                                {{r.state}}
                                            </td>
                                            <td>
                                                {{r.id}}
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p>{{restaurants[selectedRestaurantIndex].name}} is located at {{restaurants[selectedRestaurantIndex].address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
